*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-all {
  background: yellow;
  padding: 1em;
  flex-grow: 0;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  background: green;
  padding: 0.5em;
  margin: 1em 1em 0 0;
  color: white;
  border-radius: 0.5em;
}

.galleries-list {
  background: lightcoral;
  flex-grow: 1;
  overflow: auto;
}

.gallery {
  background: lightblue;
  margin: 1em;
  padding: 0.7em;
  border-radius: 1em;
  display: flex;
}

.image {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  margin-right: 0.7em;
  border-radius: 0.7em;
}

.name {
  /* background: orange; */
}

.categories {
  margin: 0 !important;
}

.categories .filter {
  margin: 0.5em 0.5em 0 0.3em;
}

.description {
  margin-top: 0.7em;
}
